<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.ac</string>
    <key>UserName</key>
    <string>maxim</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/local/bin/python3</string>
        <string>/Users/maxim/nvr/ac.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/maxim/nvr/</string>
    <key>StandardOutPath</key>
    <string>/Users/maxim/nvr/logs/ac_stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/maxim/nvr/logs/ac_error.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>/Users/maxim</string>
    </dict>
</dict>
</plist>
